@import "layout/var";

.contacts-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $xs) {
    display: block;
  }

  &__content {
    font-size: 24px;
    line-height: 29px;
  }

  &__icon-block {
    margin-top: 24px;
    max-width: 570px;

    @media (max-width: $md) {
      max-width: 405px;
    }

    @media (max-width: $sm) {
      max-width: 320px;
    }

    @media (max-width: $xs) {
      max-width: 100%;
    }
  }

  &__address {
    display: block;
    padding: 0 0 0 47px;
    color: black;
    font-size: 24px;
    line-height: 35px;
    position: relative;
    transition: 0.3s;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: white url('../img/place.svg') no-repeat center;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &__email {
    font-family: $font300;

    &:before {
      background-image: url('../img/mail.png');
    }
  }

  &__form {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 434px;
    margin-top: -35px;
    flex-shrink: 0;

    @media (max-width: $sm) {
      width: 335px;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    iframe {
      min-height: 500px!important;
    }
  }
}