@import "layout/var";

.item-card {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  margin: 24px 0 41px;
  padding: 42px 35px 32px 40px;
  display: flex;

  @media (max-width: $sm) {
    padding: 24px;
  }

  @media (max-width: $xs) {
    display: block;
  }

  &__left {
    width: 360px;
    flex-shrink: 0;
    
    @media (max-width: $sm) {
      width: 230px;
    }

    @media (max-width: $xs) {
      width: 100%;
    }
  }

  &__slide {
    outline: none;
  }

  &__slider-nav {
    margin-top: 12px;

    .item-card__slide {
      padding: 0 15px;
      margin: 0;

      @media (max-width: $xs) {
        padding: 0 7px;
      }
    }
  }

  &__right {
    margin-left: 44px;
    color: $main-grey;
    line-height: 17px;

    @media (max-width: $sm) {
      margin-left: 30px;
    }

    @media (max-width: $xs) {
      margin: 30px 0 0;
    }

    p {
      margin: 0 0 18px;
    }
  }

  &__title {
    font-size: 24px;
    font-family: $font700;
    line-height: 29px;
    margin-bottom: 16px;
  }

  &__flex {
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    @media (max-width: $xs) {
      display: block;
    }
  }

  &__currency {
    font-size: 14px;
    font-family: $font300;
  }

  &__button {
    margin-left: 27px;
    font-size: 18px;
    width: 223px;

    @media (max-width: $xs) {
      margin: 20px 0 0;
    }
  }

  &__icon {
    margin-left: 24px;
  }
}