@font-face {
  font-family: 'Museo Sans 300 Light';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url('../fonts/MuseoSansCyrl-700.eot');
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 900 Black';
  src: url('../fonts/MuseoSansCyrl-900.eot');
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font300: 'Museo Sans 300 Light', sans-serif;
$font700: 'Museo Sans 700 Bold', sans-serif;
$font900: 'Museo Sans 900 Black', sans-serif;

//colors

$orange: #FAAC3D;
$main-grey: #64666B;
$placeholder-color: #A8A8A8;
$worktime-color: #8A8A8A;

//media

$md: 1199px;
$sm: 991px;
$xs: 767px;
